absl-py==2.0.0
aiohttp==3.8.5
aiosignal==1.3.1
antlr4-python3-runtime==4.9.3
appdirs==1.4.4
astroid==2.12.11
asttokens==2.0.8
async-timeout==4.0.3
attrs==23.1.0
audioread==3.0.0
backcall==0.2.0
beautifulsoup4==4.12.2
blessed==1.20.0
blinker==1.6.3
Brotli==1.0.9
brotlipy==0.7.0
cachetools==4.2.4
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.3.0
click==8.1.7
colorama==0.4.5
contourpy==1.3.0
coverage==5.5
cryptography==37.0.1
cycler==0.11.0
datasets==2.5.2
debugpy==1.6.3
decorator==5.1.1
deprecation==2.1.0
dill==0.3.5.1
dpcpp-cpp-rt==2022.2.1
EDFlib-Python==1.0.8
einops==0.8.0
entrypoints==0.4
executing==1.1.1
eyed3==0.9.7
filelock==3.8.0
filetype==1.2.0
fonttools==4.25.0
frozenlist==1.3.3
fsspec==2022.8.2
ftfy==6.1.1
google==3.0.0
google-auth==2.23.3
google-auth-oauthlib==1.0.0
gpustat==1.1.1
grpcio==1.48.2
hmmlearn==0.3.0
huggingface-hub==0.10.0
idna==3.4
imageio==2.22.3
imbalanced-learn==0.12.0
imblearn==0.0
importlib-metadata==6.8.0
importlib_resources==6.4.5
intel-cmplr-lib-rt==2022.2.1
intel-cmplr-lic-rt==2022.2.1
intel-opencl-rt==2022.2.1
intel-openmp==2022.2.1
ipykernel==6.16.0
ipython==8.5.0
isort==5.10.1
jedi==0.18.1
Jinja2==3.1.2
joblib==1.2.0
jupyter_client==7.4.2
jupyter-core==4.11.1
kiwisolver==1.4.2
lazy_loader==0.4
lazy-object-proxy==1.7.1
librosa==0.10.2
llvmlite==0.39.1
Markdown==3.5
MarkupSafe==2.1.1
matplotlib==3.9.4
matplotlib-inline==0.1.6
mccabe==0.6.1
mkl==2022.2.1
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mne==1.8.0
mne-bids==0.11
mpmath==1.3.0
msgpack==1.1.0
multidict==6.0.2
multiprocess==0.70.13
munkres==1.1.4
nest-asyncio==1.5.6
networkx==2.8.7
numba==0.56.2
numpy==1.23.0
nvidia-ml-py==12.555.43
oauthlib==3.2.2
omegaconf==2.2.3
packaging==21.3
pandas==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
platformdirs==2.5.2
plotly==5.19.0
ply==3.11
pooch==1.6.0
prompt-toolkit==3.0.31
protobuf==3.20.3
psutil==5.9.2
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==9.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyAudioAnalysis==0.3.14
pycparser==2.21
pydub==0.25.1
pyEDFlib==0.1.37
Pygments==2.13.0
pyhht==0.1.0
PyJWT==2.8.0
pykan==0.1.2
pylint==2.15.4
pyOpenSSL==22.0.0
pyparsing==3.0.9
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
PySocks==1.7.1
PySoundFile==0.9.0.post1
python-dateutil==2.8.2
pytorch-model-summary==0.1.2
pytz==2022.4
pyu2f==0.1.5
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==24.0.1
regex==2022.9.13
requests==2.31.0
requests-oauthlib==1.3.1
resampy==0.4.2
responses==0.18.0
rsa==4.9
scikit-image==0.19.3
scikit-learn==1.1.2
scipy==1.9.1
seaborn==0.13.2
segyio==1.9.12
sip==6.6.2
six==1.16.0
soundfile==0.13.0
soupsieve==2.5
soxr==0.5.0.post1
stack-data==0.5.1
sympy==1.13.0
tbb==2021.7.1
tenacity==8.2.3
tensorboard==2.14.1
tensorboard-data-server==0.7.0
tensorboardX==2.6.2.2
threadpoolctl==3.1.0
tifffile==2022.10.10
tokenizers==0.12.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.5
torch==1.10.0+cu111
torch-tb-profiler==0.4.3
torchaudio==0.10.0+cu111
torchsummary==1.5.1
torchvision==0.11.0+cu111
tornado==6.2
tqdm==4.64.1
traitlets==5.4.0
transformers==4.22.2
typing_extensions==4.8.0
urllib3==2.0.6
wcwidth==0.2.5
Werkzeug==2.1.2
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.12.1
xgboost==2.0.3
xxhash==3.0.0
yarl==1.8.1
zipp==3.17.0
